.container {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 200px;
    /* font-weight: 100; */
}


/* problems */

body {
    /*background-image: url('img/stockmarket.jpeg ');
    background-size: 1700px 1400px;
    /* background-repeat: no-repeat; */
    background-position: -170px -300px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    /* position: fixed;
    margin-bottom: None; */
}


/* end */

.container .col-6 {
    width: 30%;
}

.container .button {
    width: 60%;
}

.container .col-10 {
    width: 60%;
}

.container label {
    background-color: white;
}

.container input:nth-of-type(1) {
    background-color: white;
}

.container input:nth-of-type(2) {
    background-color: white;
}

.container input:nth-of-type(3) {
    background-color: white;
}

.container input:nth-of-type(4) {
    background-color: white;
}

.container #top-left {
    border-top-left-radius: 5px;
}

.container #top-right {
    border-top-right-radius: 5px;
}

.container #bottom-right {
    border-end-end-radius: 5px;
}

.container #bottom-left {
    border-end-start-radius: 5px;
}

.container .btn-success {
    width: 60%;
    background-color: #198754 !important;
}

.container #flower_img {
    border-radius: 5%;
}

.container h3 {
    font-size: 1.45em;
}